.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: response(15, 20, lg);
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: response(17.5, 20, lg);
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.title {
  font-size: response(20, 36, md);
  text-align: center;
  letter-spacing: 1.8px;
}
