.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50px;
  background-color: var(--bg-blue-dark);

  @media (width <= 768px) {
    font-size: 14px;
  }
}

.copywritingWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  color: var(--color-white);

  @media (width <= 768px) {
    flex-direction: column;
    gap: 5px 0;
  }
}
